<?xml version="1.0" encoding="UTF-8"?><maryxml xmlns="http://mary.dfki.de/2002/MaryXML" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="0.5" xml:lang="hsb">
<p>
<s>
<t>
Witajśo
</t>
<t>
w
</t>
<t>
swěśe
</t>
<t>
rěcneje
</t>
<t>
synteze
</t>
<t>
!
</t>
</s>
</p>
</maryxml>
